<div class="widget">
  <h3><%= sprite_icon('time', l(:label_time_tracking)) %></h3>
  <div class="widget-content">
    <ul>
      <% if @total_estimated_hours.present? %>
        <li><%= l(:field_estimated_hours) %>: <%= l_hours(@total_estimated_hours) %>
      <% end %>
      <% if @total_hours.present? %>
          <li><%= l(:label_spent_time) %>: <%= l_hours(@total_hours) %>
      <% end %>
    </ul>
    <p>
    <% if User.current.allowed_to?(:log_time, @project) %>
      <%= link_to l(:button_log_time), new_project_time_entry_path(@project) %> |
    <% end %>
    <%= link_to(l(:label_details), project_time_entries_path(@project)) %> |
    <%= link_to(l(:label_report), report_project_time_entries_path(@project)) %>
    </p>
  </div>
</div>